.popup {
    display: none;
    position: fixed;
    // display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    z-index: 139;

    &__content {
        display: flex;
        background-color: white;
        width: 75%;
        max-width: 1600px;
        z-index: 131;

        .popup__images {
            max-width: 33.33%;
            max-height: 100%;
            margin: 0;
            padding: 0;
            & > .popup__img {
                display: block;
                width: 100%;
                height: auto;
            }
        }

        .popup__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            max-width: 66.66%;
            padding: 0 4rem;
        }
    }
}
