.popup {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    z-index: 139;
    opacity: 0;
    visibility: hidden;

    &__close {
        &:link,
        &:visited {
            color: $color-grey-dark;
            position: absolute;
            top: 2rem;
            right: 4rem;
            font-size: 4rem;
            text-decoration: none;
            line-height: 1;
            display: inline-block;
            transition: all .3s;

            @include responsive (700px) {
                top: 1rem;
                right: 2rem;
            }
        }

        &:hover {
            color: $medium-green;
        }
    }

    &__content {
        position: relative;
        display: flex;
        background-color: white;
        width: 75%;
        max-width: 1600px;
        z-index: 131;
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
        transition: all .3s;

        @include responsive (700px) {
            flex-direction: column;
            align-items: center;
        }

        .popup__images {
            max-width: 33.33%;
            max-height: 100%;
            margin: 0;
            padding: 0;

            @include responsive (700px) {
                max-width: 66.66%;
            }

            & > .popup__img {
                display: block;
                width: 100%;
                height: auto;

                @include responsive (700px) {
                    margin-top: 8rem;
                }
            }

            & > .popup__img:last-child {
                @include responsive (700px) {
                    display: none;
                }
            }
        }

        .popup__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            max-width: 66.66%;
            padding: 0 4rem;

            @include responsive (700px) {
                margin-top: 8rem;
                padding: 0;
            }
        }

        .popup__text > h3 {
            @include responsive (700px) {
                text-align: none;
            }
        }
    }

    &:target {
        opacity: 1;
        visibility: visible;
        transition: all .3s;
    }

    &:target &__content {
        opacity: 1;
        transform: scale(1);
    }
}
